[Desktop Entry]
Type=Application
Name=Donwaztok Files
GenericName=File Manager
Comment=Browse files
Exec=qs -c donwaztok ipc call fileManager openPath %f
Icon=system-file-manager
Terminal=false
StartupNotify=false
Categories=Utility;FileManager;
MimeType=inode/directory;inode/mount-point;x-scheme-handler/trash;
Keywords=files;folders;manager;browse;
