[Unit]
Description=Portal service (Donwaztok file chooser)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.donwaztok
ExecStart=%h/.config/quickshell/donwaztok/scripts/portal/xdg-desktop-portal-donwaztok.py
Restart=on-failure

[Install]
WantedBy=graphical-session.target
